---
layout: page
title: "Hi, I'm Wike"
subtitle: Record life, record work, leave footprints
css: "/css/index.css"
use-site-title: true
meta-title: "Wike - R-Shiny consultant"
meta-description: "a software engineer"
bigimg:
  - "/img/big-imgs/costa-rica-house.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/grouse-grind.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/hawaii1.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/hawaii2.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/hongkong-cliff-dive.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/hongkong-infinity-pool.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/israel-dive1.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/israel-dive2.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/israel-dive3.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/laos-pond2.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/laos-pond1.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/laos-pond3.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/st-martin.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/tanzania.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-beach.jpg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-climb.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-climb2.jpeg" : "China, Hangzhou (2017)" 
  - "/img/big-imgs/vietnam-dunes.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-dunes2.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-fruits.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-hat.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-jump.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-ricefield.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-scooter.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/vietnam-walk.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/california-skydive.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/california-surf.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/california-surf2.jpeg" : "China, Hangzhou (2017)" 
  - "/img/big-imgs/california-surf3.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/costa-rica.jpeg" : "China, Hangzhou (2017)"
  - "/img/big-imgs/rio-hanggliding.jpeg" : "China, Hangzhou (2017)"  
  - "/img/big-imgs/hawaii-turtles.jpeg" : "China, Hangzhou (2017)"  
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
