---
layout: page
title: "Hi, I'm Wike"
subtitle: Record life, record work, leave footprints
css: "/css/index.css"
use-site-title: true
meta-title: "Wike - R-Shiny consultant"
meta-description: "a software engineer"
bigimg:
  - "/img/changing/0525.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/2062.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/1976.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0597.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0565.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0537.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0506.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0330.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/0257.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9522.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9503.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9442.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9437.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9179.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9156.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/9126.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/8525.jpeg" : "China, Hangzhou (2017)" 
  - "/img/changing/8491.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/8435.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/8227.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/8214.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/7824.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/7561.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/7285.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/7131.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/7018.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/6845.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/5972.jpeg" : "China, Hangzhou (2017)" 
  - "/img/changing/5800.jpeg" : "China, Hangzhou (2017)"
  - "/img/changing/1959.jpeg" : "China, Hangzhou (2012)"
  - "/img/changing/Hangzhou.jpeg" : "China, Hangzhou (2012)"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
